# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Output files
output.json

# Kaggle API credentials
.kaggle/kaggle.json

# Models
models/chatbot/*.tar.gz
models/*.tag.gz
models/data_analysis/*.pkl

# Processed CSV files
data/processed/cleaned_file.csv
data/processed/filtered_data.csv
models/data_analysis/evaluations/model_evaluations.csv
