# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Output files
output.json

# Kaggle API credentials
.kaggle/kaggle.json

# Models
models/*.tar.gz
models/*.pkl
