# Core Dependencies
pandas>=1.3.0,<2.0.0
numpy==1.21.6
spacy>=3.6,<3.7
joblib>=1.0.0,<2.0.0

# Machine Learning Dependencies
scikit-learn==1.1.3

# Rasa SDK
rasa-sdk==3.6.2

# Other Dependencies
python-dotenv>=0.15.0,<1.0.0

# Optional Dependencies (if needed)
# mailchimp3>=3.0.2,<4.0.0
# oauth2client>=4.1.2,<5.0.0
# gspread>=3.0.0,<4.0.0
# beautifulsoup4>=4.6.3,<5.0.0
# requests>=2.24.0,<3.0.0
# geopy>=1.18.1,<2.0.0
# algoliasearch>=2.0,<3.0
